// Brand Colors
$petrol: #256265;
$light-petrol: #D3E0E0;
$petrol-hover: rgba(37, 98, 101, 0.2);
$gold: #B38630;
$blue: #295999;
$light-blue: #E4EFFF;
$khaki-green: #DFE8E3;
$yellow: #FFF2B8;
$black: #000000;
$dark-grey: #6D6D6D;
$grey: #B1B1B1;
$light-grey: #E5E5E5;
$smoke-white: #F6F6F6;
$white: #FFFFFF;
$transparent: transparent;
$scrollbar-thumb: #CACACA;

// Work Colors
$youty-yellow: #FFF55A;
$onetwoid-blue: #004B87; 
$listd-orange: linear-gradient(to right, #fd746c, #fe8e66);
$geosty-blue: linear-gradient(to bottom right, rgba(53, 108, 128, 0.75), #39bbe7);
$ica-red: #F9F5F5;
$scana-green: #88ADA1;
$bevera-gold: #BAAC78;
$techflake-green: #E7F1EC;

// Background Colors
.bg-primary {
  background-color: $white;
}
.bg-invert {
  background-color: $petrol;
}
.bg-light {
  background-color: $smoke-white;
}
.bg-transparent {
  background-color: transparent;
}
