/* Transitions & Transforms
******************************************************/
$--transition-250: all 250ms ease-out;
$--transition-500: all 500ms ease-out;
$--menu-from-above-down: translateY(-100%);
$--menu-from-above-up: translateY(0);
$--menu-speed-down-up: 750ms;
$--hover-effect-moveUp: translateY(-3px);
$link-hover-left-right-contact: 0.75s cubic-bezier(0.7, 0.3, 0, 1);
$link-hover-left-right-menu: 0.75s cubic-bezier(0.7, 0.3, 0, 1);

/* Z-Index
******************************************************/
$z-index: (
  base: 1,
  1: 100, // Base level
  2: 200,
  3: 300,
  4: 400,
  5: 500,
  6: 600,
  7: 700,
  8: 800,
  9: 900,
);

/* Border Radius
******************************************************/

$--button-radius: 6px;

