/* Transitions & Transforms
******************************************************/
$--transition-250: all 250ms ease;
$--transition-500: all 500ms ease;
$--menu-from-above-down: translateY(-100%);
$--menu-from-above-up: translateY(0);
$--menu-speed-down-up: 750ms;
$--hover-effect-moveUp: translateY(-3px);
$link-hover-left-right-contact: 0.75s cubic-bezier(0.7, 0.3, 0, 1);
$link-hover-left-right-menu: 0.75s cubic-bezier(0.7, 0.3, 0, 1);

/* Z-Index
******************************************************/
$z-index: (
  base: 1,
  1: 100,
  2: 200,
  3: 300,
  4: 400,
  5: 500,
  6: 600,
  7: 700,
  8: 800,
  9: 900,
);

/* Border Radius
******************************************************/
$--button-radius: 6px;
$--button-radius-3px: 3px;


/* Spacing
******************************************************/
$--spacing-xs: 8px;
$--spacing-s: 16px;
$--spacing-m: 24px;
$--spacing-l: 36px;
$--spacing-xl: 48px;
$--spacing-xxl: 75px;

/* Max Width
******************************************************/
$--max-width: 1420px;
$--max-width-medium: 950px;
$--max-width-small: 750px;

/* Max Width
******************************************************/
$box-shadow-down: 0px 4px 8px rgba(0, 0, 0, 0.08);

