.footer-work {
  padding: 150px 0;
  @include for-mobile() {
    padding: 100px 0;
  }
  .footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .back-to-work {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $--transition-250;
      @include hover-supported() {
        transform: $--hover-effect-moveLeft;
      }
    }
    img {
      margin-right: $--spacing-m;
    }
  }
}
