.header {
  padding: $--spacing-xl 100px;
  max-width: $--max-width-xlarge;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  z-index: 2;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @include for-desktop() {
    padding: $--spacing-xl;
  }
  @include for-tablet() {
    padding: $--spacing-m;
  }
}

.header.header__full-width {
  padding: $--spacing-xl 100px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 3;
  position: relative;
  @include for-desktop() {
    padding: $--spacing-xl;
  }
  @include for-tablet() {
    padding: $--spacing-m;
  }
}

.header__logo-wrapper {
  transition: $--transition-250;
  z-index: 3;
  @include hover-supported() {
    transform: $--hover-effect-moveUp;
    opacity: 0.8;
  }
  .logo__desktop {
    @include for-mobile() {
      display: none;
    }
  }
  .logo__mobile {
    display: none;
    @include for-mobile() {
      display: block;
    }
  }
}
