button,
.btn,
input [type="submit"],
input [type="reset"],
input [type="button"] {
  display: inline-block;
  padding: 13.5px $--spacing-l;
  color: inherit;
  background: none;
  text-align: $--text-center;
  font-size: $--fs-200;
  font-weight: $--sb-weight;
  -webkit-text-decoration: $--no-underline;
  text-decoration: $--no-underline;
  white-space: nowrap;
  border-radius: $--button-radius;
  cursor: pointer;
  outline: inherit;
  font: inherit;
  border: none;
  margin: 0;
  @include hover-supported() {
    outline: 0;
  }
  &:active,
  &:focus {
    outline: 0;
  }
}

.btn {
  margin: 0;
  transition: $--transition-250;
}

.btn-full-width {
  width: 100%;
}

.btn-wrapper {
  @include for-tablet() {
    display: flex;
    justify-content: center;
  }
  .btn--petrol {
    background-color: $petrol;
    color: $white;
    display: inline-block;
    @include hover-supported() {
      opacity: 0.9;
    }
  }
}

.btn--outlined {
  background-color: $transparent;
  color: $black;
  display: inline-block;
  border: 1px solid $black;
  margin: 0;
  @include hover-supported() {
    background-color: $black;
    color: $white;
    border: 1px solid $black;
  }
}

// Show more button / link

.btn--read-more {
  padding: 0;
  margin-top: $--spacing-s;
  display: inline;
  font-size: $--fs-300;
  font-weight: $--m-weight;
  line-height: $--l-h-29;
  letter-spacing: $--ls-025;
  color: $blue;
  text-align: left;
  border-radius: 0;
  display: none;
  @include for-mobile() {
    font-size: $--fs-200;
    font-weight: $--m-weight;
    line-height: $--l-h-27;
    letter-spacing: $--ls-025;
  }
  @include for-tablet() {
    display: block;
  }
}

// Back to top button

.back-to-top-btn {
  display: inline-block;
  position: fixed;
  bottom: $--spacing-xxl;
  right: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 5;
  outline: none;
  background-color: $smoke-white;
  color: $black;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.5s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  @include for-tablet() {
    right: 0;
  }
  @include for-mobile() {
    bottom: $--spacing-xxl;
    right: 0;
  }
  @include hover-supported() {
    transition: $--transition-250;
    background-color: $light-grey;
  }
  .icon-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin: auto;
    }
  }
}

.back-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}

.back-to-top-btn-container.work {
  .back-to-top-btn {
    bottom: 150px;
    @include for-large-desktops() {
      border: 1px solid $light-grey;
    }
    @include for-tablet() {
      right: 0;
      bottom: 145px;
      border: 1px solid $light-grey;
    }
    @include for-mobile() {
      right: 0;
      bottom: 90px;
      border: 1px solid $light-grey;
    }
  }
}
