button,
.btn,
input [type="submit"],
input [type="reset"],
input [type="button"] {
  display: inline-block;
  padding: 13.5px 36px;
  color: inherit;
  background: none;
  text-align: $--text-center;
  font-size: $--fs-200;
  font-weight: $--sb-weight;
  text-decoration: $--no-underline;
  white-space: nowrap;
  border-radius: $--button-radius;
  cursor: pointer;
  outline: inherit;
  font: inherit;
  border: none;
  margin: 0;
  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }
}

.btn {
  margin: 0;
}

.btn:hover {
  transition: $--transition-250;
}

.btn-wrapper {
  @include for-tablet() {
    display: flex;
    justify-content: center;
  }
  .btn--petrol {
    background-color: $petrol;
    color: $white;
    display: inline-block;
    &:hover {
      opacity: 0.9;
    }
  }
}

.btn--outlined {
  background-color: $transparent;
  color: $black;
  display: inline-block;
  border: 1px solid $black;
  margin: 0;
  &:hover {
    background-color: $black;
    color: $white;
    border: 1px solid $black;
  }
}

// Back to top button

.back-to-top-btn {
  display: inline-block;
  position: fixed;
  bottom: 75px;
  right: 50px;
  z-index: 5;
  outline: none;
  background-color: $smoke-white;
  color: $black;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.5s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  @include for-mobile() {
    bottom: 75px;
    right: 24px;
  }
  &:hover {
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
  }
  .icon-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin: auto;
    }
  }
}

.back-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}
