main > .sidebar-nav-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 36px;
  width: 200px;
  left: 0;
  z-index: 1;
  @include for-large-desktops() {
    display: none;
  }
}

.sidebar-nav {
  position: absolute;
  padding-left: 0;
  background-color: $white;
  margin-top: 50px;
  left: 8px;
  .sidebar-num {
    font-size: $--fs-800;
    font-weight: $--b-weight;
    letter-spacing: $--ls--05;
    color: $black;
    text-align: right;
    padding: 36px 36px 16px 36px;
    color: $gold;
    display: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 36px;
  }
  li {
    text-align: right;
    padding-bottom: 10px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  li.active > a {
    color: $black;
    font-weight: $--m-weight;
  }
  a {
    text-decoration: none;
    display: block;
    color: $grey;
    transition: all 50ms ease-in-out;
    font-weight: $--m-weight;
    @include hover-supported() {
      color: $black;
    }
    &:focus {
      color: $black;
    }
  }
}
