.work-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $--spacing-xl;
  padding-bottom: $--spacing-xxl;
  overflow: hidden;
  transition: transform 0.4s ease-out;
  @include for-desktop() {
    grid-template-columns: repeat(2, 1fr);
  }
  @include for-mobile() {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: $--spacing-l;
    padding-bottom: $--spacing-xl;
  }
  .work-image {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $--spacing-s;
    position: relative;
    overflow: hidden;
    border-radius: $--border-radius-small;
    @include for-mobile() {
      margin-bottom: 12px;
    }
    @include hover-supported() {
      .work-overlay {
        opacity: 0.3;
        transition: all 0.3s ease-in-out;
      }
    }
    @include hover-supported() {
      .work-overlay__details {
        top: 0;
        left: 0;
        opacity: 1;
      }
    }
    .work-overlay {
      /*
      background: $black;
      */
      background: linear-gradient(
        to right,
        hsl(0, 0%, 0%) 0%,
        hsla(0, 0%, 0%, 0.964) 7.4%,
        hsla(0, 0%, 0%, 0.918) 15.3%,
        hsla(0, 0%, 0%, 0.862) 23.4%,
        hsla(0, 0%, 0%, 0.799) 31.6%,
        hsla(0, 0%, 0%, 0.73) 39.9%,
        hsla(0, 0%, 0%, 0.655) 48.2%,
        hsla(0, 0%, 0%, 0.577) 56.2%,
        hsla(0, 0%, 0%, 0.497) 64%,
        hsla(0, 0%, 0%, 0.417) 71.3%,
        hsla(0, 0%, 0%, 0.337) 78.1%,
        hsla(0, 0%, 0%, 0.259) 84.2%,
        hsla(0, 0%, 0%, 0.186) 89.6%,
        hsla(0, 0%, 0%, 0.117) 94.1%,
        hsla(0, 0%, 0%, 0.054) 97.6%,
        hsla(0, 0%, 0%, 0) 100%
      );
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: all 0.4s ease-in-out 0s;
    }
    /*
    .work-overlay.youty {
      background-color: $youty-yellow;
    }
    .work-overlay.onetwoid {
      background-color: $onetwoid-blue;
    }
    .work-overlay.listd {
      background-image: $listd-orange;
    }
    .work-overlay.geosty {
      background-image: $geosty-blue;
    }
    .work-overlay.ica {
      background-color: $ica-red;
    }
    .work-overlay.scana {
      background-color: $scana-green;
    }
    .work-overlay.bevera {
      background-color: $bevera-gold;
    }
    .work-overlay.techflake {
      background-color: $techflake-green;
    }
    */
    .work-overlay__details {
      display: flex;
      flex-direction: column;
      position: absolute;
      text-align: left;
      padding: $--spacing-m;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      transition: 0.65s cubic-bezier(0.52, 0.01, 0.16, 1);
      height: 100%;
      .work-overlay__title {
        color: $white;
        margin-bottom: 8px;
        display: block;
        width: 100%;
        text-shadow: $--text-shadow-light;
      }
      span {
        color: $white;
        text-shadow: $--text-shadow-light;
      }
      .view-work-link {
        display: flex;
        align-items: center;
        /*
        margin-top: 55px;
        */
        position: absolute;
        top: 47%;
        span {
          margin-right: $--spacing-s;
        }
        img {
          width: 36px;
          height: 36px;
        }
      }
    }
    .work-overlay__details.black {
      color: $black;
      .work-overlay__title {
        color: $black;
      }
      span {
        color: $black;
      }
      img {
        color: $black;
      }
    }
  }
  .work-title {
    padding-bottom: 6px;
  }
  .work-type {
    color: $dark-grey;
  }
  .work-youty {
    background-color: $youty-yellow;
  }
  .work-12id {
    background-color: $onetwoid-blue;
  }
  .work-giwautopart {
    background-color: $black;
    /*
      img {
        width: 83px;
        height: auto;
      }
      */
  }
  .work-listd {
    background-image: $listd-orange;
  }
  .work-geosty {
    background-image: $geosty-blue;
  }
  .work-ica {
    background-color: $ica-red;
  }
  .work-scana {
    background-color: $scana-green;
  }
  .work-bevera {
    background-color: $bevera-gold;
  }
  .work-techflake {
    background-color: $techflake-green;
  }
  .work-grid-item {
    display: none;
  }
  .show-filter {
    display: block;
  }
}
