// General Styles
body {
  background-color: $white;
  font-family: $--font-family-inter;
  color: $black;
}

/*
// Browser Scrollbar Styles

// Firefox 
* {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb $white;
}

//Chrome, Edge, and Safari 
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: $white;
}

*::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb;
  border-radius: 20px;
  border: 4px solid $white;
}
*/

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
  @include for-desktop() {
    padding: 0 $--spacing-xl;
  }
  @include for-tablet() {
    padding: 0 $--spacing-m;
  }
}

.inner-wrapper {
  width: 100%;
  max-width: $--max-width;
  margin: 0 auto;
  padding: 0;
}

.inner-wrapper__full-width {
  width: 100%;
  max-width: $--max-width-large;
  margin: 0 auto;
  padding: 0;
}

.content-container {
  width: 100%;
  margin: 0 auto;
}

.content-wrapper.work {
  width: 100%;
  max-width: $--max-width-medium;
  margin: 0 auto;
  padding: 0;
}

.line-break {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: $--spacing-xxl;
  position: relative;
  @include for-mobile() {
    padding: $--spacing-xxl 0;
  }
}

h5 {
  margin: 0;
}

p {
  font-size: $--fs-300;
  font-weight: $--r-weight;
  line-height: $--l-h-27;
  letter-spacing: $--ls-025;
  color: $black;
  @include for-mobile() {
    font-size: $--fs-200;
    font-weight: $--r-weight;
    line-height: $--l-h-24;
    letter-spacing: $--ls-025;
  }
}

ul {
  @include for-mobile() {
    font-size: $--fs-200;
  }
}

.p-margin-bottom {
  margin-bottom: $--spacing-s;
}

.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}

.lock-scroll {
  overflow: hidden;
  -ms-overflow-style: none; // IE 11
  scrollbar-width: none; // Firefox
  ::-webkit-scrollbar {
    display: none; // Chrome, Safari & Opera
    width: 0;
    background: $transparent;
  }
}

#show-more {
  @include for-tablet() {
    display: none;
  }
}

#preloader {
  background: $petrol url("/images/preloader/loader.gif") no-repeat center
    center;
  background-size: $--max-width-small !important;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: none;
  @include for-tablet() {
    background-size: 500px !important;
  }
}
