.container__about {
  .profile-img {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -135px;
    @include for-mobile() {
      bottom: -75px;
    }
    img {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      border: 5px solid $white;
      box-shadow: $box-shadow-down;
      @include for-mobile() {
        width: 115px;
        height: 115px;
        border: 3px solid $white;
      }
    }
  }

  .about-info {
    h2 {
      text-align: center;
      @include for-mobile() {
        font-size: $--fs-600;
        font-weight: $--sb-weight;
        letter-spacing: $--ls-048;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: $--spacing-m;
      li {
        padding-right: $--spacing-m;
        color: $black;
        transition: all 0.2s ease-in-out 0s;
        &:first-child {
          margin-bottom: -5px;
        }
        &:last-child {
          padding-right: 0;
        }
        @include hover-supported() {
          transform: $--hover-effect-moveUp;
        }
      }
      @include for-mobile() {
        padding-top: $--spacing-s;
        padding-bottom: $--spacing-l;
        border-bottom: 1px solid $light-grey;
      }
    }
  }

  .about-wrapper {
    margin-top: $--spacing-xxl;
    display: flex;
    @include for-tablet() {
      margin-top: $--spacing-xl;
      flex-direction: column;
    }
    @include for-mobile() {
      margin-top: $--spacing-l;
      flex-direction: column;
    }
    .about__section-heading {
      flex-basis: 30%;
      max-width: 30%;
      h5 {
        color: $dark-grey;
      }
      @include for-tablet() {
        margin-bottom: $--spacing-s;
        flex-basis: initial;
        max-width: initial;
      }
      .mobile-tablet-margin {
        @include for-tablet() {
          margin-bottom: $--spacing-xs;
        }
      }
    }
    .about__text {
      flex-basis: 70%;
      max-width: 70%;
      @include for-tablet() {
        flex-basis: initial;
        max-width: initial;
      }
      p {
        margin-bottom: $--spacing-s;
        @include for-mobile() {
          margin-bottom: 0;
          margin-top: $--spacing-s;
          font-size: $--fs-200;
          font-weight: $--r-weight;
          line-height: $--l-h-24;
          letter-spacing: $--ls-025;
          &:first-child {
            margin-top: 0;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      #show-more {
        p:first-child {
          margin-top: $--spacing-s;
        }
      }
      #show-more-dots {
        display: none;
        @include for-tablet() {
          display: inline-block;
        }
      }
    }
    .experience-wrapper {
      flex-basis: 70%;
      max-width: 70%;
      @include for-tablet() {
        flex-basis: initial;
        max-width: initial;
      }
      .experience-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $--spacing-xl;
        @include for-desktop() {
          grid-gap: $--spacing-m;
        }
        @include for-tablet() {
          grid-template-columns: 1fr 1fr;
          grid-gap: $--spacing-m;
        }
        @include for-mobile() {
          grid-template-columns: 1fr;
          grid-gap: $--spacing-m;
        }
        .experience-card {
          display: flex;
          flex-direction: column;
          border: 1px solid $light-grey;
          padding: $--spacing-m $--spacing-m 16px $--spacing-m;
          border-radius: 6px;
          @include for-mobile() {
            padding: $--spacing-s;
          }
          .experience-top-wrapper {
            display: flex;
            align-items: center;
            .experience-logo {
              width: 60px;
              height: 60px;
              min-width: 60px;
              border-radius: 100%;
              margin-right: $--spacing-m;
              @include for-mobile() {
                width: 50px;
                height: 50px;
                min-width: 50px;
                margin-right: $--spacing-s;
              }
            }
            .experience-info {
              .experience-title {
                margin-bottom: $--spacing-xs;
              }
            }
            .experience-workplace {
              color: $dark-grey;
            }
          }
          .experience-date {
            display: flex;
            align-items: center;
            color: $dark-grey;
            margin: $--spacing-m 0 20px 0;
            @include for-desktop() {
              margin: $--spacing-m 0 0 0;
              flex: 1;
            }
            @include for-tablet() {
              flex: 1;
            }
          }
          .divider {
            margin: 0;
            margin-left: -24px;
            margin-right: -24px;
            @include for-desktop() {
              margin-top: $--spacing-m;
            }
            @include for-mobile() {
              margin-left: -16px;
              margin-right: -16px;
              margin-top: $--spacing-m;
            }
          }
          .experience-summary {
            flex: 1;
            @include for-desktop() {
              display: none;
            }
            p {
              margin-bottom: $--spacing-m;
            }
          }
          .experience-link {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 16px;
            a {
              margin-right: 12px;
            }
          }
        }
      }
    }
    .skills-wrapper {
      .skills-list {
        display: flex;
        @include for-mobile() {
          flex-direction: column;
        }
        .skill-list {
          padding-right: 150px;
          width: 275px;
          max-width: 275px;
          @include for-large-desktops() {
            padding-right: 125px;
            width: initial;
            max-width: initial;
          }
          @include for-desktop() {
            padding-right: 100px;
          }
          @include for-tablet() {
            padding-right: $--spacing-xxl;
            width: 225px;
            max-width: 225px;
          }
          @include for-mobile() {
            padding-right: 0;
            max-width: initial;
            width: initial;
          }
          &:last-child {
            padding-right: 0;
            ul {
              @include for-mobile() {
                margin-bottom: 0;
              }
            }
          }
          .skill-title {
            @include for-mobile() {
              font-size: $--fs-200;
              font-weight: $--sb-weight;
              line-height: $--l-h-18;
              letter-spacing: $--ls-015;
            }
          }
          ul {
            padding-left: $--spacing-s;
            margin-bottom: 0;
            @include for-mobile() {
              margin-bottom: $--spacing-m;
            }
          }
        }
      }
    }
    .languages-wrapper {
      display: flex;
      margin-bottom: $--spacing-xxl;
      @include for-mobile() {
        flex-direction: column;
        margin-bottom: $--spacing-xl;
      }
      .language {
        display: flex;
        flex-direction: column;
        padding-right: 150px;
        width: 275px;
        max-width: 275px;
        @include for-large-desktops() {
          padding-right: 140px;
          width: initial;
          width: initial;
        }
        @include for-desktop() {
          padding-right: 115px;
        }
        @include for-tablet() {
          padding-right: $--spacing-xxl;
          width: 225px;
          max-width: 225px;
        }
        @include for-mobile() {
          padding-right: 0;
          width: initial;
          max-width: initial;
          margin-top: $--spacing-m;
          &:first-child {
            margin-top: 0;
          }
        }
        &:last-child {
          padding-right: 0;
        }
        .language-title {
          margin-bottom: $--spacing-s;
          @include for-mobile() {
            font-size: $--fs-200;
            font-weight: $--sb-weight;
            line-height: $--l-h-18;
            letter-spacing: $--ls-015;
            margin-bottom: 12px;
          }
        }
      }
    }
  }
  .divider {
    border: 0.5px solid $light-grey;
    margin: $--spacing-xxl 0;
    @include for-tablet() {
      margin: $--spacing-xl 0;
    }
    @include for-mobile() {
      margin: $--spacing-l 0;
    }
  }
}

.text-row-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: $--spacing-xxl;
  position: relative;
  @include for-mobile() {
    flex-direction: column;
    padding-bottom: $--spacing-xl;
  }
  .text--column {
    flex: 50%;
    @include for-mobile() {
      flex: 100%;
    }
    .subtitle-wrapper {
      padding-bottom: 8px;
      .subtitle--large {
        color: $grey;
        @include for-mobile() {
          font-size: $--fs-200;
          font-weight: $--sb-weight;
          line-height: $--l-h-18;
          letter-spacing: $--ls-015;
        }
      }
    }
    .h2 {
      padding-bottom: $--spacing-m;
      @include for-mobile() {
        font-size: $--fs-600;
        font-weight: $--sb-weight;
        letter-spacing: $--ls-048;
      }
    }
  }
  .text--column {
    flex: 50%;
    .subtitle {
      color: $grey;
    }
  }
  .text--column__left {
    padding-right: 100px;
    @include for-tablet() {
      padding-right: $--spacing-xl;
    }
    @include for-mobile() {
      padding-right: 0;
    }
    p {
      padding-bottom: 16px;
      &:last-of-type {
        padding-bottom: 0;
      }
    }
    .contact-list-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: $--spacing-xl;
      background-color: $light-petrol;
      padding: $--spacing-l $--spacing-m;
      border-radius: $--button-radius;
      @include for-tablet() {
        margin-top: $--spacing-l;
        padding: $--spacing-m;
      }
      @include for-desktop() {
        flex-direction: column;
      }
      .contact-list {
        .subtitle-wrapper {
          padding-bottom: $--spacing-s;
          @include for-desktop() {
            text-align: center;
          }
          .subtitle--large {
            color: $petrol;
            font-size: $--fs-300;
            font-weight: $--sb-weight;
            line-height: $--l-h-20;
            letter-spacing: $--ls-015;
          }
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          li {
            padding-right: $--spacing-m;
            /*
            padding-bottom: 6px;
            background-image: linear-gradient(
              to right,
              #256265 50%,
              $white 50%
            );
            background-size: 200% 100%;
            background-position: 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: $link-hover-left-right-contact;
            @include hover-supported() {
              background-position: 0%;
              transition: $link-hover-left-right-contact;
            }
            */
            color: $black;
            transition: all 0.2s ease-in-out 0s;
            &:first-child {
              margin-bottom: -5px;
            }
            &:last-child {
              padding-right: 0;
            }
            @include hover-supported() {
              transform: $--hover-effect-moveUp;
            }
          }
        }
      }
      .profile-img {
        padding-right: $--spacing-l;
        @include for-desktop() {
          padding-bottom: $--spacing-m;
          padding-right: initial;
        }
        img {
          width: 150px;
          height: 150px;
          border-radius: 100%;
          /*
          border: 2px solid $light-grey;
          */
          @include for-mobile() {
            width: 125px;
            height: 125px;
          }
        }
      }
      .business-card {
        position: absolute;
        right: 0;
        display: block;
        @include for-large-desktops() {
          display: none;
        }
      }
    }
  }
  .divider {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: $--spacing-xxl;
    border-left: 1px solid $light-grey;
    @include for-mobile() {
      position: static;
      border: 1px solid $light-grey;
      border-left: none;
      margin: $--spacing-xxl 0;
    }
  }
  .text--column__right {
    padding-left: 100px;
    @include for-mobile() {
      padding-left: 0;
    }
    .experience-list {
      margin-bottom: $--spacing-l;
      &:last-child {
        padding-bottom: 0;
      }
      .work {
        margin-bottom: $--spacing-m;
        &:last-child {
          padding-bottom: 0;
        }
        .work-skills {
          padding-top: $--spacing-s;
          .skills-title {
            color: $black;
            padding-bottom: 12px;
            display: block;
          }
          .skills-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            @include for-mobile() {
              flex-wrap: nowrap;
              overflow-x: auto;
              white-space: nowrap;
            }
            .skill-item {
              font-size: $--fs-100;
              margin-right: 12px;
              margin-bottom: 12px;
              border: 1px solid $light-grey;
              border-radius: $--button-radius-3px;
              padding: 6px $--spacing-xs;
            }
          }
        }
      }
      h4 {
        padding-bottom: 8px;
        font-size: $--fs-400;
        font-weight: $--sb-weight;
        letter-spacing: $--ls-015;
        a {
          &:hover {
            color: $petrol;
            transition: all 250ms ease-out;
          }
        }
      }
      .work-role {
        color: $black;
        @include for-mobile() {
          display: block;
          padding-bottom: 8px;
        }
        /*
        &::after {
          content: "•";
          padding: 0 6px;
          @include for-mobile() {
            content: none;
            padding: 0;
          }
        }
        */
      }
      .date {
        display: block;
        font-size: $--fs-100;
        color: $dark-grey;
        letter-spacing: $--ls-015;
        padding-top: 8px;
        @include for-mobile() {
          font-size: $--fs-100;
          font-weight: $--r-weight;
          line-height: $--l-h-18;
        }
      }
      .work-description {
        padding-top: 16px;
      }
    }
    .skills-section {
      h4 {
        padding-bottom: 16px;
      }
      ul {
        margin: 0;
        padding-left: $--spacing-m;
        padding-bottom: $--spacing-m;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
    .education-section {
      margin-bottom: $--spacing-xl;
    }
    .skills-section {
      margin-bottom: $--spacing-xl;
    }
    .language-section {
      margin-bottom: 0;
      .language {
        padding-bottom: $--spacing-m;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}

.back-to-top-btn {
  @include for-mobile() {
    bottom: $--spacing-xl;
  }
}
