.container__home {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden !important;
  padding: 0;
}

#home.main-content {
  width: 100%;
  height: 100vh;
  position: relative;
}

.content-wrapper.home {
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  height: 100vh;
  width: 100%;
  padding-left: 100px;
  background-image: url("../images/hero/hero-image_large.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  z-index: 1;
  @include for-tablet() {
    grid-template-rows: 1fr;
    grid-template-columns: none;
    padding: 0;
    background-image: url("../images/hero/hero-image_small.webp");
  }
  .content-section {
    padding-top: 294px;
    padding-right: $--spacing-m;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include for-tablet() {
      padding: 0 $--spacing-m;
      justify-content: center;
      align-items: center;
    }
    .social-media-list {
      margin-bottom: 56px;
      display: flex;
      align-items: center;
      @include for-tablet() {
        display: none;
      }
      .social-media-item {
        padding-right: $--spacing-l;
        transition: all 0.2s ease-in-out 0s;
        @include hover-supported() {
          transform: $--hover-effect-moveUp;
        }
      }
    }
  }
}
