.container__work {
  position: relative;
  @include for-desktop() {
    padding: 0 $--spacing-xl;
  }
  @include for-tablet() {
    padding: 0 $--spacing-m;
    overflow-x: hidden;
  }
}
.page-heading.work {
  align-items: flex-start;
  margin-bottom: $--spacing-s;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  @include for-mobile() {
    padding-top: 18px;
  }
  .back-icon-wrapper {
    position: static;
    transform: none;
    margin-bottom: $--spacing-m;
  }
}

a.link.link--large {
  @include for-mobile() {
    font-size: $--fs-200;
    font-weight: $--m-weight;
    line-height: $--l-h-27;
    letter-spacing: $--ls-025;
  }
}

.type-of-work-wrapper {
  margin-bottom: $--spacing-l;
  margin-left: auto;
  margin-right: auto;
  @include for-mobile() {
    margin-bottom: $--spacing-m;
  }
  span {
    color: $grey;
    @include for-mobile() {
      font-size: $--fs-200;
      font-weight: $--sb-weight;
      line-height: $--l-h-18;
      letter-spacing: $--ls-015;
    }
  }
}

.work-image-big {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $--border-radius-large;
  height: 600px;
  @include for-large-desktops() {
    height: 500px;
  }
  @include for-desktop() {
    margin: 0 -48px;
    width: 100vw;
    border-radius: 0;
    height: 450px;
  }
  @include for-tablet() {
    margin: 0 -24px;
    width: 100vw;
    height: 350px;
    border-radius: 0;
  }
  @include for-mobile() {
    margin: 0 -24px;
    width: 100vw;
    height: 200px;
    border-radius: 0;
  }
}

/*Work banners*/
.youty-banner {
  background-color: $youty-yellow;
  img {
    width: 300px;
    @include for-desktop() {
      width: 250px;
    }
    @include for-mobile() {
      width: 150px;
    }
  }
}

.onetwoid-banner {
  background-color: $onetwoid-blue;
  img {
    width: 200px;
    @include for-desktop() {
      width: 150px;
    }
    @include for-mobile() {
      width: 100px;
    }
  }
}

.giwautopart-banner {
  background-color: #000000;
  img {
    width: 166px;
    @include for-desktop() {
      width: 125px;
    }
    @include for-mobile() {
      width: 100px;
    }
  }
}

.listd-banner {
  background: linear-gradient(90deg, #FD746C 0%, #FE8E66 98.3%);
  img {
    width: 120px;
    @include for-desktop() {
      width: 100px;
    }
    @include for-mobile() {
      width: 75px;
    }
  }
}

.geosty-banner {
  background: linear-gradient(101.83deg, rgba(53, 108, 128, 0.75) 0%, #39BBE7 100%);
  img {
    width: 150px;
    @include for-desktop() {
      width: 100px;
    }
    @include for-mobile() {
      width: 75px;
    }
  }
}

.ica-banner {
  background: $ica-red;
  img {
    width: 150px;
    @include for-desktop() {
      width: 100px;
    }
    @include for-mobile() {
      width: 75px;
    }
  }
}

.scana-banner {
  background: $scana-green;
  img {
    width: 125px;
    @include for-desktop() {
      width: 100px;
    }
    @include for-mobile() {
      width: 65px;
    }
  }
}

.bevera-banner {
  background: $bevera-gold;
  img {
    width: 285px;
    @include for-desktop() {
      width: 200px;
    }
    @include for-mobile() {
      width: 125px;
    }
  }
}

.techflake-banner {
  background: $techflake-green;
  img {
    width: 175px;
    @include for-desktop() {
      width: 125px;
    }
    @include for-mobile() {
      width: 75px;
    }
  }
}

.work-content-wrapper {
  section {
    &:last-child {
      margin-bottom: 0;
    }
  }
  .contrast {
    color: $grey;
    display: block;
    @include for-mobile() {
      font-size: $--fs-200;
      font-weight: $--sb-weight;
      line-height: $--l-h-18;
      letter-spacing: $--ls-015;
    }
  }
  .subtitle-wrapper {
    margin-bottom: 18px;
  }
  h2 {
    margin-bottom: $--spacing-s;
    @include for-mobile() {
      font-size: $--fs-700;
      font-weight: $--sb-weight;
      letter-spacing: $--ls-048;
    }
  }
  .project-background {
    @include for-desktop() {
      padding: $--spacing-xxl 0 $--spacing-xxl 0;
    }
    @include for-tablet() {
      padding: $--spacing-xl 0 $--spacing-xxl 0;
    }
    p {
      margin-bottom: $--spacing-s;
      @include for-mobile() {
        font-size: $--fs-200;
        font-weight: $--r-weight;
        line-height: $--l-h-24;
        letter-spacing: $--ls-025;
      }
      &:last-of-type {
        margin-bottom: $--spacing-xl;
        @include for-mobile() {
          margin-bottom: $--spacing-l;
        }
      }
    }
    .work-summary {
      /*
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include for-tablet() {
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
        height: 100%;
      }
      */
      fieldset {
        width: 100%;
        padding: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border: 1px solid $light-grey;
        border-radius: 8px;
        @include for-mobile() {
          flex-direction: column;
          align-items: initial;
          justify-content: initial;
          height: 100%;
        }
        legend {
          position: absolute;
          background-color: $white;
          padding: 0 8px;
          top: -12px;
          left: 16px;
          @include for-mobile() {
            font-size: $--fs-200;
          }
        }
      }
      .work-summary-wrapper {
        display: flex;
        @include for-mobile() {
          flex-direction: column;
          margin-bottom: $--spacing-m;
        }
        .work-role {
          display: flex;
          flex-direction: column;
          margin-right: 100px;
          @include for-mobile() {
            margin-bottom: $--spacing-m;
            margin-right: 0;
          }
        }
        .work-date {
          display: flex;
          flex-direction: column;
        }
        span {
          padding-bottom: 8px;
          color: $grey;
          @include for-mobile() {
            font-size: $--fs-200;
          }
          &:nth-child(2) {
            color: $black;
            padding-bottom: 0;
          }
        }
      }
      button {
        @include for-mobile() {
          position: static;
        }
      }
    }
  }
  .identity-design {
    background: $smoke-white;
    margin-bottom: $--spacing-xxl;
    @include for-large-desktops() {
      padding: $--spacing-xxl 0;
      margin: 0 -100px;
    }
    @include for-desktop() {
      padding: $--spacing-xxl 0;
      margin: 0 -48px;
    }
    @include for-tablet() {
      margin: 0 -24px;
      padding: $--spacing-xxl 0;
    }
    p {
      @include for-mobile() {
        font-size: $--fs-200;
        font-weight: $--r-weight;
        line-height: $--l-h-24;
        letter-spacing: $--ls-025;
      }
    }
    .content-container {
      background-color: $white;
      .content-wrapper {
        padding: $--spacing-xxl 0;
        @include for-tablet() {
          padding: $--spacing-xxl $--spacing-m;
          padding-bottom: 51px;
        }
        .logotypes-card-wrapper {
          display: flex;
          align-items: center;
          margin-top: $--spacing-xl;
          margin-bottom: $--spacing-xxl;
          @include for-tablet() {
            flex-direction: column;
            margin-top: $--spacing-l;
            margin-bottom: $--spacing-xl;
          }
          .logotype-cards {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-right: $--spacing-xl;
            @include for-tablet() {
              margin-right: 0;
              margin-bottom: $--spacing-m;
              &:last-child {
                margin-bottom: 0;
              }
            }
            .card {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: $--spacing-s;
              img {
                border-radius: $--button-radius;
              }
            }
            .card.white {
              border: 1px solid $light-grey;
              border-radius: $--button-radius;
            }
          }
        }
        .logotypes-card-wrapper.logotype-only {
          .logotype-cards {
            div {
              width: 250px;
              margin-right: 0;
              @include for-mobile() {
                grid-template-columns: repeat(3, 1fr);
                grid-row-gap: $--spacing-m;
                justify-self: center;
                margin-bottom: 0;
                width: 200px;
              }
            }
          }
          .logotype-cards.white {
            margin-right: 0;
          }
        }
        .color-swatches-wrapper {
          margin-top: $--spacing-xl;
          margin-bottom: $--spacing-xxl;
          display: grid;
          align-items: center;
          grid-gap: $--spacing-xl;
          grid-template-columns: repeat(4, 1fr);
          justify-content: space-between;
          @include for-tablet() {
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: $--spacing-m;
            justify-self: center;
            margin-bottom: $--spacing-xl;
          }
          @include for-mobile() {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: $--spacing-m;
            justify-self: center;
            margin-bottom: $--spacing-xl;
          }
          .color-swatch {
            display: flex;
            align-items: flex-end;
            @include for-mobile() {
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }
            .color-square {
              width: 100px;
              height: 100px;
              margin-right: 20px;
              border-radius: $--button-radius;
              @include for-mobile() {
                margin-right: 0;
                margin-bottom: $--spacing-xs;
              }
            }
            // Mixin Color Systems
            @include youty-color-system;
            @include onetwoid-color-system;
            @include giwautopart-color-system;
            @include listd-color-system;
            @include geosty-color-system;
            @include ica-color-system;
            @include scana-color-system;
            @include bevera-color-system;
            @include techflake-color-system;
            .color-info {
              display: flex;
              flex-direction: column;
              @include for-mobile() {
                justify-content: center;
                align-items: center;
              }
              .color-type {
                margin-bottom: 12px;
              }
              .color-hex {
                color: $dark-grey;
              }
            }
          }
        }
        .font-weight-wrapper {
          margin-top: $--spacing-xl;
          margin-bottom: 0;
          @include for-mobile() {
            margin-top: $--spacing-l;
          }
          h5 {
            margin-bottom: $--spacing-m;
            @include for-mobile() {
              font-size: $--fs-300;
              font-weight: $--sb-weight;
              line-height: $--l-h-20;
              letter-spacing: $--ls-015;
              margin-bottom: $--spacing-s;
            }
          }
          .font-weights {
            display: flex;
            align-items: center;
            margin-bottom: $--spacing-l;
            &:last-child {
              margin-bottom: 0;
            }
            @include for-mobile() {
              display: grid;
              &:last-child {
                margin-bottom: 0;
                .font-weight {
                  margin-bottom: 0;
                }
              }
            }
            .font-weight {
              margin-right: $--spacing-xl;
              margin-bottom: 0;
              @include for-mobile() {
                margin-right: 0;
              }
              &:last-child {
                margin-right: 0;
                margin-bottom: 0;
              }
              .subtitle-wrapper {
                margin-bottom: $--spacing-xs;
                span {
                  @include for-mobile() {
                    font-size: $--fs-200;
                    font-weight: $--sb-weight;
                    line-height: $--l-h-18;
                    letter-spacing: $--ls-015;
                  }
                }
              }
              p {
                // Mixin Typography
                @include youty-typography;
                @include onetwoid-typography;
                @include giwautopart-typography;
                @include listd-typography;
                @include geosty-typography;
                @include ica-typography;
                @include scana-typography;
                @include bevera-typography;
                @include techflake-typography;
                color: $dark-grey;
                @include for-mobile() {
                  font-size: $--fs-200;
                  font-weight: $--r-weight;
                  line-height: $--l-h-24;
                  letter-spacing: $--ls-025;
                }
              }
              .uppercase {
                text-transform: uppercase;
              }
              .lowercase {
                text-transform: lowercase;
              }
            }
          }
        }
        .font-weight-wrapper.youty {
          .row-1 {
            .font-weight {
              p {
                font-family: $--font-family-reckless;
                font-weight: $--r-weight;
              }
            }
            &:last-child {
              margin-bottom: 0;
              @include for-tablet() {
                margin-bottom: $--spacing-m;
              }
            }
          }
          .row-2 {
            .font-weight {
              &:first-child {
                p {
                  font-weight: $--l-weight;
                }
                @include for-mobile() {
                  margin-bottom: $--spacing-m;
                }
              }
              &:last-child {
                @include for-tablet() {
                  margin-bottom: -12px;
                }
              }
            }
          }
          .row-3 {
            .font-weight {
              @include for-tablet() {
                margin-bottom: $--spacing-m;
              }
              &:first-child {
                p {
                  font-weight: $--m-weight;
                }
                @include for-mobile() {
                  margin-bottom: $--spacing-m;
                }
              }
              &:last-child {
                p {
                  font-weight: $--sb-weight;
                }
              }
              @include for-tablet() {
                margin-bottom: 0;
              }
            }
          }
        }
        .font-weight-wrapper.onetwoid {
          p {
            font-family: $--font-family-catamaran;
          }
          .row-1 {
            .font-weight {
              &:first-child {
                p {
                  font-weight: $--b-weight;
                }
                @include for-tablet() {
                  margin-bottom: $--spacing-m;
                }
              }
              &:last-child {
                p {
                  font-weight: $--sb-weight;
                }
              }
            }
          }
        }
        .font-weight-wrapper.giwautopart {
          .row-1 {
            p {
              font-family: $--font-family-assistant;
            }
          }
          .row-2 {
            p {
              font-family: $--font-family-openSans;
            }
            .font-weight {
              @include for-tablet() {
                margin-bottom: $--spacing-m;
              }
              &:first-child {
                p {
                  font-weight: $--b-weight;
                }
              }
              &:last-child {
                @include for-tablet() {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
        .font-weight-wrapper.listd {
          p {
            font-family: $--font-family-roboto;
          }
          .row-1 {
            .font-weight {
              @include for-mobile() {
                margin-bottom: $--spacing-m;
              }
              &:first-child {
                p {
                  font-weight: $--b-weight;
                }
              }
              &:last-child {
                p {
                  font-weight: $--m-weight;
                }
                @include for-mobile() {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
        .font-weight-wrapper.geosty {
          p {
            font-family: $--font-family-nunitoSans;
          }
          .row-1 {
            .font-weight {
              &:first-child {
                p {
                  font-weight: $--sb-weight;
                }
              }
            }
          }
        }
        .font-weight-wrapper.ica {
          p {
            font-family: $--font-family-workSans;
          }
          .row-1 {
            .font-weight {
              &:first-child {
                p {
                  font-weight: $--sb-weight;
                }
              }
            }
          }
        }
        .font-weight-wrapper.scana {
          .row-1 {
            p {
              font-family: $--font-family-posterama;
            }
            .font-weight {
              margin-bottom: 0;
              &:first-child {
                p {
                  font-weight: $--r-weight;
                }
              }
            }
          }
          .row-2 {
            p {
              font-family: $--font-family-openSans;
            }
            .font-weight {
              &:first-child {
                p {
                  font-weight: $--r-weight;
                }
              }
            }
          }
        }
        .font-weight-wrapper.bevera {
          p {
            font-family: $--font-family-raleway;
          }
          .row-1 {
            .font-weight {
              p {
                font-weight: $--sb-weight;
              }
            }
          }
        }
        .font-weight-wrapper.techflake {
          p {
            font-family: $--font-family-lato;
          }
          .row-1 {
            .font-weight {
              p {
                font-weight: $--b-weight;
              }
            }
          }
        }
        .quote-wrapper {
          text-align: center;
          margin-top: 30px;
          margin-bottom: $--spacing-xl;
          color: #19553c;
          .quote {
            @include for-mobile() {
              font-size: $--fs-500;
              line-height: $--l-h-32;
            }
          }
        }
        .text-image-wrapper {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: $--spacing-xl;
          justify-content: center;
          align-items: center;
          margin-bottom: $--spacing-xl;
          @include for-mobile() {
            grid-template-columns: 1fr;
            grid-gap: $--spacing-s;
          }
          &:last-child {
            margin-bottom: 0;
            @include for-mobile() {
              .text-section {
                order: 1;
              }
              .image-section {
                order: 2;
              }
            }
          }
          .text-section {
            text-align: center;
            @include for-mobile() {
              text-align: left;
            }
            h3 {
              @include for-mobile() {
                font-size: $--fs-500;
                font-weight: $--sb-weight;
                letter-spacing: $--ls-015;
                margin-bottom: $--spacing-s;
                span {
                  display: inline;
                }
              }
            }
            ul {
              width: 315px;
              margin-top: $--spacing-m;
              padding-left: 0;
              text-align: left;
              margin-left: auto;
              margin-right: auto;
              list-style: none;
              @include for-mobile() {
                width: auto;
              }
            }
            li {
              padding-bottom: 6px;
              &:last-child {
                padding-bottom: 0;
              }
            }
          }
          .image-section {
            img {
              border-radius: $--border-radius-small;
            }
          }
        }
      }
    }
  }
  .app-design {
    background-color: $smoke-white;
    margin-bottom: $--spacing-xxl;
    @include for-large-desktops() {
      width: 100vw;
      margin-left: -100px;
      margin-right: -100px;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 0;
    }
    @include for-desktop {
      width: 100vw;
      margin-left: -48px;
      margin-right: -48px;
      padding-left: $--spacing-xl;
      padding-right: $--spacing-xl;
      padding-top: 0;
    }
    @include for-tablet {
      width: 100vw;
      margin-left: -24px;
      margin-right: -24px;
      padding-left: $--spacing-m;
      padding-right: $--spacing-m;
      padding-top: 0;
    }
    p {
      @include for-mobile() {
        font-size: $--fs-200;
        font-weight: $--r-weight;
        line-height: $--l-h-24;
        letter-spacing: $--ls-025;
      }
    }
    .hr-divider-white {
      height: $--spacing-xxl;
      background-color: $white;
      margin: 0 -75px;
      @include for-large-desktops() {
        margin: 0 -100px;
      }
    }
    .content-container {
      margin-bottom: 75px;
      &:last-child {
        margin-bottom: 0;
      }
      .content-wrapper {
        background-color: $smoke-white;
        .mockups-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: $--spacing-xxl;
          @include for-mobile() {
            flex-direction: column;
          }
          .mockup {
            margin-right: 150px;
            @include for-tablet() {
              margin-right: $--spacing-xxl;
            }
            @include for-mobile() {
              margin-right: 0;
              margin-bottom: $--spacing-xxl;
            }
            &:last-child {
              margin-right: 0;
              @include for-mobile() {
                margin-bottom: 0;
              }
            }
          }
          img {
            width: 300px;
            height: auto;
            border-radius: $--border-radius-small;
            @include for-mobile() {
              width: 240px;
            }
          }
        }
      }
    }
  }
  .web-design {
    background-color: $smoke-white;
    margin-bottom: $--spacing-xxl;
    @include for-large-desktops() {
      width: 100vw;
      margin-left: -100px;
      margin-right: -100px;
      padding-left: 100px;
      padding-right: 100px;
    }
    @include for-desktop {
      width: 100vw;
      margin-left: -48px;
      margin-right: -48px;
      padding-left: 48px;
      padding-right: 48px;
    }
    @include for-tablet() {
      width: 100vw;
      margin-left: -24px;
      margin-right: -24px;
      padding-left: $--spacing-m;
      padding-right: $--spacing-m;
    }
    p {
      @include for-mobile() {
        font-size: $--fs-200;
        font-weight: $--r-weight;
        line-height: $--l-h-24;
        letter-spacing: $--ls-025;
      }
    }
    .hr-divider-white {
      height: $--spacing-xxl;
      background-color: $white;
      margin: 0 -75px;
      @include for-large-desktops() {
        margin: 0 -100px;
      }
    }
    .content-container {
      margin-bottom: 75px;
      &:last-child {
        margin-bottom: 0;
      }
      .content-wrapper {
        background-color: $smoke-white;
        .mockups-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: $--spacing-xxl;
          @include for-mobile() {
            flex-direction: column;
          }
          .mockup {
            margin-right: 150px;
            @include for-tablet() {
              margin-right: $--spacing-xxl;
            }
            @include for-mobile() {
              margin-right: 0;
              margin-bottom: $--spacing-xxl;
            }
            &:last-child {
              margin-right: 0;
              @include for-mobile() {
                margin-bottom: 0;
              }
            }
          }
          img {
            width: 300px;
            height: auto;
            border-radius: $--border-radius-small;
            @include for-mobile() {
              width: 240px;
            }
          }
        }
        .desktop {
          .mockup {
            margin-right: 150px;
          }
          img {
            width: 100%;
            border-radius: $--border-radius-small;
          }
        }
        .desktop-two-images {
          flex-wrap: wrap;
          .mockup {
            margin-right: 0;
            margin-bottom: $--spacing-xxl;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .web-design.desktop-only {
    @include for-tablet() {
      padding-top: 0;
    }
  }
}
