#works {
  .work-filter-wrapper.inner-wrapper {
    @include for-mobile() {
      width: 100vw;
      max-width: 100vw;
      margin-left: -24px;
      margin-right: -24px;
    }
  }
  .back-to-top-btn {
    bottom: 161px;
    @include for-mobile() {
      bottom: $--spacing-xl;
    }
  }
}
